* {
	box-sizing: border-box;
}

body {
 
	/* max-width: 960px; 
	border-style: dashed;
	border-color: black; */
}

#background {
	background-repeat: no-repeat;
	background-size: 70%;
	max-width: 700px;
}

#cartoon-form {
	float: right;
}

h3 {
	color: navy;
	text-align: center;

}

input {
	align-content: center;
}

#cartoons-view {
	float: left;

}


